<h4> Write a python program to merge data from each month into one CSV and read in updated dataframe. </h4>

In [3]:
 # importing the module pandas, os and warning from python library 
import pandas as pd
import os as os
import warnings
warnings.filterwarnings('ignore')
# creating a datagframe merged_data
merged_data=pd.DataFrame()             
#  reading all csv file in the given path in directory csv_files
csv_files=r"C:\Users\malla\OneDrive\Documents\year2 sem2\Smart data discovery\Course_work\drive-download-20230414T074205Z-001"  
#changing the path for current working directory from download to CSV_files directory
os.chdir(csv_files) 
# assiging the current working directory conatainng the all csv files in variable Fdirection
Fdirection=os.getcwd()    
# using for loop to iterate csv file that is in the varaible Fdirection
for each in os.listdir(Fdirection):   
 # choosing csv files
    if each.endswith(".csv"):      
 # reads all file in the dataframe file using pandas 
        transferred_csv=pd.read_csv(each)                           
        print(each)                                     # print to ckeck if all imported or not
        merged_data=merged_data.append(transferred_csv)                                 # data from the files are added into updated dataframe a
merged_data

Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558.0,USB-C Charging Cable,2.0,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559.0,Bose SoundSport Headphones,1.0,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560.0,Google Phone,1.0,600.00,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560.0,Wired Headphones,1.0,11.99,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
11681,259353.0,AAA Batteries (4-pack),3.0,2.99,9/17/2019 20:56,"840 Highland St, Los Angeles, CA 90001"
11682,259354.0,iPhone,1.0,700.00,9/1/2019 16:00,"216 Dogwood St, San Francisco, CA 94016"
11683,259355.0,iPhone,1.0,700.00,9/23/2019 7:39,"220 12th St, San Francisco, CA 94016"
11684,259356.0,34in Ultrawide Monitor,1.0,379.99,9/19/2019 17:30,"511 Forest St, San Francisco, CA 94016"
11685,259357.0,USB-C Charging Cable,1.0,11.95,9/30/2019 0:18,"250 Meadow St, San Francisco, CA 94016"

In [ ]:
merged_data.info()

<h4> Write a python program to remove the NaN missing values from updated 
dataframe. </h4>

In [ ]:
display(merged_data)
# droping all the null value in the table
b=merged_data.dropna()      
b

 <h4>Write a python program to convert Quantity Ordered and Price Each
to numeric. </h4>

In [ ]:
 # using .to_numeric convert into numeric value
b['Quantity Ordered'] = pd.to_numeric(b['Quantity Ordered']  )   
#  using .to_numeric convert into numeriv value
b['Price Each'] = pd.to_numeric(b['Price Each'] )        
b

 <h4>Create a new column named Month from Ordered Date of updated 
dataframe and convert it to integer as data type</h4>

In [ ]:
 # adding the month value of orderdate in month
b['month'] = pd.DatetimeIndex(b['Order Date']).month  
# converting datatype as integer  
b['month'] = b['month'].astype('int')                
b

In [ ]:
b.info() #visualizing

<h4>Create a new column named City from Purchase Address based on 
the value in updated dataframe</h4>

In [ ]:
# adding the value in the city 
b['city'] = b['Purchase Address'].apply(lambda x: x.split(',')[1])   # apply used to split the value in purchase address where there is ','
b

<h4> Write a Python program to show summary statistics of sum, mean, 
standard deviation, skewness, and kurtosis of any chosen variable.</h4>

In [ ]:
import numpy as np
from scipy.stats import skew, kurtosis    #importing required modules from the python library

datA=np.array(b['Quantity Ordered'])         # adding value in array datA from data extracted from dataframe b 
sum_A= np.sum(datA)                       # calculating the sum
mean_A= np.mean(datA)                    # calculating the mean
standard_A= np.std(datA)                 # calculating the standard deviation
skew_A= skew(datA)                       # measuring the assemetry in the distribution
kurtosis_A= kurtosis(datA)               # measuring the peakedness of the distribution
print("sum of Quantity Ordered : ", sum_A)
print("mean of Quantity Ordered: ", mean_A) 
print("std of Quantity Ordered: ", standard_A)
print("skew of Quantity Ordered: ", skew_A)
print("kortosis of Quantity Ordered: ", kurtosis_A)

In [ ]:
import matplotlib.pyplot as plt
b['sales'] = b['Quantity Ordered'] *b['Price Each']

<h4> Write a Python program to calculate and show correlation of all 
variables</h4>

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
corelation = b.corr()                # showing the relation between the orderid, quantity ordered and price each
plt.imshow(corelation)
#displaying the correlation
print( corelation)   
# to visualize the coorealtion from heat map
sns.heatmap(corelation, annot = True)


<h4>Which Month has the best sales? and how much was the earning in that 
month? Make a bar graph of sales as well. </h4>

In [ ]:
import matplotlib.pyplot as plt
b['sales'] = b['Quantity Ordered'] *b['Price Each']     # adding the value which is the multiplication of two column in sales

amount = b.groupby('month')['sales'].sum()                   # group by month and adding sales                                       
plt.bar(amount.index,amount.values,color="green",alpha=0.3, edgecolor='black', label='month')
plt.xticks(range(1,13),["Jan","Feb","Mar","Apr","May","jun","Jul","Aug","Sep","Oct","Nov","Dec"])        # changing the name of the x-ticks
plt.yticks([0, 1000000, 2000000, 3000000, 4000000,5000000] ,['0', '1M', '2M', '3M', '4M','5M'])          # changing the name of the y-ticks
#naming the bar graph
plt.title(" monthly sales") 
# naming the x-axis
plt.xlabel("Month")
# nmaing the y-axis
plt.ylabel("Amount")
#displaying the bargraph
plt.legend()
plt.show()

In [ ]:
b.groupby("month")['sales'].sum()    # to see the total sales in month

 <h4>Which city has sold the highest product?</h4>

In [ ]:
# visualizing
max_sale = b.groupby("city")["Quantity Ordered"].sum()    
max_sale

In [ ]:
max_sale = b.groupby("city")["Quantity Ordered"].sum()    # adding the value city and quantity ordered in datafram max_sale     
plt.bar(max_sale.index, max_sale.values, label="city")           #graph plot where city is the x-axis and values are the quantity ordered
plt.xticks(rotation = 90)                    # to display the name
plt.xlabel('city')
plt.ylabel('number of product saled')  
plt.title("Product Sold in City")
plt.legend()
plt.show()                                     # to display the plot

 <h4>Which product was sold the most in overall? Illustrate it through bar 
graph.</h4>

In [ ]:
values= b.groupby("Product")["Quantity Ordered"].sum()           # groupping the column
##graph plot where product is the x-axis and values are the quantity ordered
plt.bar(values.index,values.values,label="product")    
plt.xticks(rotation=90)
plt.xlabel("Product")
plt.ylabel("Product sold")
plt.legend()
plt.title("highest product sold")
plt.show()

<h4> Write a Python program to show histogram plot of any chosen variables. 
Use proper labels in the graph</h4>

In [ ]:

plt.hist(b['month'], bins= 12,edgecolor='black', color= "green" )       # bin used for managing number of bars
#naming the x-ticks according ot the month which arange from 1 to 13.
plt.xticks(np.arange(1,13),["January","february","March","April","May","June","July","August","September","October","November","December"], rotation=90 )                      # 
plt.xlabel("Months")
plt.ylabel("number of orders")
plt.show()