In [1]:
l=[1,2,3,4,5,6,7,8,9]

In [2]:
for i in range(len(l)):
    print(i)

0
1
2
3
4
5
6
7
8

In [3]:
for i in range(len(l)):
    
    print(l[i])

1
2
3
4
5
6
7
8
9

In [4]:
for number in l:
    print(number)

1
2
3
4
5
6
7
8
9

In [5]:
def noreturn(a,b):
    c=a+b
    print("this is without return typr:" , c)
    
def withreturn(a,b):
    c=a+b
    return c

In [6]:
add1= noreturn(3,2)

this is without return typr: 5

In [7]:
add2= withreturn(2,4)
print("hudainata", add2)

hudainata 6

In [8]:
mat = [[1,2,3],[4,5,6],[7,8,9]]

In [9]:
len(mat)

3

In [10]:
mat[2][0]

7

In [11]:
for i in range(len(mat)):
    for j in range(len(mat[i])):
        print(mat[j])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [12]:
sums = [0]*len(mat[0])
sums

[0, 0, 0]

In [13]:
for i in range(len(mat)):
    for j in range(len(mat[i])):
        sums[j]+=mat[i][j]
sums

[12, 15, 18]

In [14]:
for i in range(1000,2000):
    if (i%7 == 0) & (i%5 == 0):
        print(i)

1015
1050
1085
1120
1155
1190
1225
1260
1295
1330
1365
1400
1435
1470
1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995

In [15]:
def forc(f):
    
    pro = (f-32/9)*5
    return pro

In [16]:
def forf(c):
    pro2 = c/5*9+32
    return pro2

In [17]:
 res = forc(100)
print(res)

482.22222222222223

In [18]:
import random
number=random.randint(1,9)

8

In [19]:
while True:
    guess=input("Guess number between 1 to 9:-")
    if int(guess) == number:
        print("Well Guess!!")
        break
    else:
        print("Try again")

Guess number between 1 to 9:- 2

Try again

Guess number between 1 to 9:- 3

Try again

Guess number between 1 to 9:- 3

Try again

Guess number between 1 to 9:- 4

Try again

Guess number between 1 to 9:- 5

Try again

Guess number between 1 to 9:- 6

Try again

Guess number between 1 to 9:- 6

Try again

Guess number between 1 to 9:- 1

Try again

Guess number between 1 to 9:- 9

Try again

Guess number between 1 to 9:- 34

Try again

Guess number between 1 to 9:- 8

Well Guess!!

In [20]:
for i in range(1,6):
    for j in range(i):
        print("*", end=" ")
    print()
for i in range(4,0,-1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [21]:
word= input("enter the word:")
for i in range(len(word)-1, -1, -1):
    print(word[i])

enter the word: hello

o
l
l
e
h

In [28]:
import pandas as pd
first= pd.Series([200000, 1600000, 600000, 500000, 350000], index=['Biratnagar', 'Kathmandu', 'Lalitpur', 'Pokhara', 'Narayangarh'])


second= pd.Series([150000, 1600000, 600000, 500000, 300000] , index=['Bhaktapur', 'Kathmandu', 'Lalitpur', 'Pokhara', 'Butwal'] )
first + second

Bhaktapur            NaN
Biratnagar           NaN
Butwal               NaN
Kathmandu      3200000.0
Lalitpur       1200000.0
Narayangarh          NaN
Pokhara        1000000.0
dtype: float64

In [34]:
import pandas as pd

serial_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subjects = ['ENG', 'NEP', 'MAT', 'SCI', 'COM']
students = ['RAM','SHYAM','GITA','HARI','SITA','SUSHILA','RAMESH','SUBODH','ANIL','RUPA']
marks = [[57, 34, 93, 84, 54], [48, 49, 52, 89, 64], [66, 64, 75, 38, 84], [55, 47, 90, 82, 37], [45, 93, 70, 53, 76], [45, 63, 33, 53, 72], [68, 34, 42, 43, 84], [62, 69, 67, 50, 94], [59, 33, 51, 68, 33], [57, 91, 60, 37, 44]]

df_ = pd.DataFrame(marks, index=serial_no, columns=subjects)
df_.index.name = 'serial_no'
df_.columns.name = 'subjects'
df_['students'] = students
df_ = df_.set_index('students')
print(df_)

subjects  ENG  NEP  MAT  SCI  COM
students
RAM        57   34   93   84   54
SHYAM      48   49   52   89   64
GITA       66   64   75   38   84
HARI       55   47   90   82   37
SITA       45   93   70   53   76
SUSHILA    45   63   33   53   72
RAMESH     68   34   42   43   84
SUBODH     62   69   67   50   94
ANIL       59   33   51   68   33
RUPA       57   91   60   37   44